@{
	ViewData["Title"] = "Home Page";
}
<!-- ======= About Section ======= -->
<section id="about" class="about">

	<!-- ======= About Me ======= -->
	<div class="about-me container">

		<div class="section-title">
			<h2>About</h2>
			<p>Learn more about me</p>
		</div>

		<div class="row">
			<div class="col-lg-4" data-aos="fade-right">
				<img src="~/assets/img/SelfHeadshot.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
				<h3> Web Developer</h3>
				<p class="fst-italic">
					Your a typical nerd, was spinning my wheels slowly going crazy while being a stay at home dad, and remember the Centriq program and here I am.
					A wed developer with all the basic know how on how to put together a website front end and back end.

				</p>

				<p>
					Before I settled down into father hood I was all over in my career choices.
					Working for Fedex, Noodles and Company, several other small resturants, a couple grocery stores and a hardware store,
					and finaly I was in the USAF(Air Force).
					So needless to say I have obtained a wide span of random tidbits of knowledge.
				</p>
			</div>
		</div>

	</div><!-- End About Me -->
	<!-- ======= Interests ======= -->
	<div class="interests container">

		<div class="section-title">
			<h2>Interests</h2>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-4">
				<div class="icon-box">
					<i class="ri-store-line" style="color: #ffbb2c;"></i>
					<h3>Warhammer 40k</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-md-0">
				<div class="icon-box">
					<i class="ri-plant-fill" style="color: #5578ff;"></i>
					<h3>Gardening</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-md-0">
				<div class="icon-box">
					<i class="ri-bubble-chart-line" style="color: #e80368;"></i>
					<h3>Fermenting</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
				<div class="icon-box">
					<i class="ri-basketball-line" style="color: #e361ff;"></i>
					<h3>Hockey</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4">
				<div class="icon-box">
					<i class="ri-game-line" style="color: #47aeff;"></i>
					<h3>Video Games</h3>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4">
				<div class="icon-box">
					<i class="ri-cake-line" style="color: #ffa76e;"></i>
					<h3>Cooking</h3>
				</div>
			</div>

		</div>

	</div><!-- End Interests -->

</section><!-- End About Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
	<div class="container">

		<div class="section-title">
			<h2>Resume</h2>
			<p>Check My Resume</p>
		</div>

		<div class="row">
			<h3 class="resume-title">Link to my <a href="https://docs.google.com/document/d/1WoPXH0kpmcaEa5ZBLUyn-hHL8zDjV6aa/edit">Resume</a></h3>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<h3 class="resume-title">Sumary</h3>
				<div class="resume-item pb-0">
					<h4>Alex Erdrich</h4>

				
				</div>
				<h3 class="resume-title">Education</h3>
				<div class="resume-item">
					<h4>Full Stack Coding Program</h4>
					<h5>2022-2023</h5>
					<p><em>Centriq </em></p>
					<p>Learned and obtained a base knowledge to perform in several programs involved in the porduction of website applications and the serviceability of a SQL server.</p>
				</div>

			</div>
			<div class="col-lg-6">
				<h3 class="resume-title">Professional Experience</h3>
				<div class="resume-item">
					<h4>Stay at Home Father</h4>
					<h5>2016 - Present</h5>
					<p><em>Wichita, Ks </em></p>
					<p>
						<ul>
							<li>Maintained sanity while dealing with children ranging from newborn to toddler.</li>
							<li>Kept stock of available foods to ensure timely meals. </li>
							<li>Directed optimal nap times to allow for less cranky children</li>
							<li>Balanced time spent on various activities so that not all time was spent doing one thing all day.</li>
						</ul>
					</p>
				</div>
				
			</div>

		</div>
	</div>
</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
	<div class="container">

		<div class="section-title">
			<h2>Portfolio</h2>
			<p>My Works</p>
		</div>

		<div class="row">
			<div class="col-lg-12 d-flex justify-content-center">
				<ul id="portfolio-flters">
					<li data-filter="*" class="filter-active">All</li>
					<li data-filter=".filter-app">App</li>
					<li data-filter=".filter-web">Web</li>
				</ul>
			</div>
		</div>

		<div class="row portfolio-container">

			<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
					<div class="portfolio-wrap">
						<a href="#" class="CS icon"><i class="bi bi-file-earmark-code"></i></a>
						<div class="portfolio-info">
							<h4>App 1</h4>
							<p>App</p>
							<div class="portfolio-links">

								<a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 portfolio-item filter-web">
					<div class="portfolio-wrap">
						<a href="#" class="CS icon"><i class="bi bi-filetype-html"></i></a>
						<div class="portfolio-info">
							<h4>Web 3</h4>
							<p>Web</p>
							<div class="portfolio-links">

								<a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
					<div class="portfolio-wrap">
						<a href="#" class="CS icon"><i class="bi bi-filetype-cs"></i></a>
						<div class="portfolio-info">
							<h4>Dungeon App</h4>
							<p>App</p>
							<div class="portfolio-links">
								<a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
							</div>
						</div>
					</div>
				</div>




			</div>
		</div>
	</div>

	<div class="container">
		<div class="section-title">
			<h2>Peers</h2>
			<p>Peer Websites</p>

		</div>
	</div>

</section><!-- End Portfolio Section -->
